.main-header {
  background: url('../img/background.jpg');
  color: #fff;

  .showcase {
    margin-top: 6rem;
    padding-bottom: 6rem;
  }
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.primary-overlay {
  background: rgba(112, 81, 176, 0,7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-developers {
  position: relative;
  background-size: cover;
  background: url(../img/code.jpg) center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 180px;
}
